* {
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

.container {
    margin: 0 auto;
    width: 90%;
  }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.column {
    float: left;
    padding-right: 5px;
  }

/* SmartPhones */
@media only screen and (min-device-width : 320px) {
    .column.full { width: 100%; }
}

/* Tablets */
@media only screen and (min-device-width : 768px) {
    .column.half { width: 50%; }
}

/* Desktops and laptops */
@media only screen  and (min-width : 1224px) {
    .column.two-thirds { width: 66.7%; }
    .column.third { width: 33.3%; }
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

img {
    max-width: 100%;
}

.img-wrapper {
    margin: 0 auto;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: #666;
}

.description-box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
}

.description-box:hover {
    opacity: 1;
}