/* 
================================================
                 Layout
================================================
*/

* {
    border-width: 1px;
    border-style: solid;
    border-color: #777;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container {
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-around; */
    background-color: #000;
    color: #fff;
}

.header, .content-header, .footer {
    width: 880px;
    height: 130px;
    text-align: center;
}

.sidebar, .navigation {
    width: 250px;
}

.sidebar, .navigation, .content {
    height: 300px;
}

 .content {
    /* display: flex;
     flex-flow: row wrap; 
    justify-content: center; */
    width: 350px;
}

.content > * {
    background-color: #555;
    width: 300px;
}

.content > *:not(aside) {
    height: 60px;
}


.content > article {
    height: 120px;
}

.container > * {
    background-color: #333;
}

.header,
.navigation,
.content,
.content > *,
.sidebar,
.footer {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.containter, .container  * {
    box-sizing: border-box;
}

.content > * {
    margin-left: 20px; 
}

/* 
================================================
                 TYPOGRAPHY
================================================
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.header {
    font-size: 46px;
}

.footer, .sidebar {
    font-size: 10px;
}

.content {
    font-size: 14px;
}

.navigation {
    font-size: 12px;
}

/* 
================================================
                 APPEARANCE
================================================
*/

/* * [class$= "r"] {
    background-color: #f0f;
}

* [class*="a"]:not([class$= "r"]) {
    background-color: green; 
} */