* {
    border-width: 1px;
    border-color: #777;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container {
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
}

header, footer {
    width: 880px;
    height: 130px;
}

aside, nav {
    width: 250px;
}

aside, nav, .container > section {
    height: 300px;
}

.container > section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 350px;
}

.container > section > * {
    width: 300px;
}

.container > section > *:not(aside) {
    height: 50px;
}


.container > section > article {
    height: 100px;
}

.container > * {
    background-color: #333;
}

.container > section > * {
    background-color: #555;
}