.container{
    width: 960px;
    margin: 0 auto;
    position: relative;
}

section {
    text-align: center;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

.error {
    color: #e00;
}