.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.repos-list {
    list-style-type: none;
}

.git-repos-container {
    width: 500px;
}

section {
    text-align: center;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

.error {
    color: #e00;
}

iframe {
    border: none;
}